dane/derm7pt/images/
dane/HAM10000/HAM10000_images_part_1/
dane/HAM10000/HAM10000_images_part_2/
dane/ISIC_2020/train/
dane/PAD-UFES-20/imgs_part_1/
dane/PAD-UFES-20/imgs_part_2/
dane/PAD-UFES-20/imgs_part_3/

models/
*.keras
*.h5
*.tflite
logs/
*.log
venv/
.env/
.ipynb_checkpoints/
.idea/
